<svg class="chart" width="100%" height="90%" viewBox="0 0 @Width @Height">
    <text x="@(Width/2)" y="15" font-size="16px" text-anchor="middle">@Title</text>
    <g>
        @foreach (double value in YAxis)
        {
            <line x1="@MarginLeft" y1="@GetYCoordinate(value)" x2="@(Width-MarginRight)" y2="@GetYCoordinate(value)" style="stroke:#e0e0e0;stroke-width:1" />
        }
    </g>
    <g>
        @foreach(double value in YAxis)
        {
            <text>
                <text x="@(MarginLeft-10)" y="@GetYCoordinate(value)" font-size="12px" text-anchor="end" dominant-baseline="middle">@value</text>
            </text>
        }
    </g>
    <g>
        @foreach(double value in XAxis)
        {
            <text>
                <text x="@GetXCoordinate(value)" y="@Height" font-size="12px" text-anchor="middle">@value</text>
            </text>
        }
    </g>
    <g>
        @foreach(ScatterPoint p in Data)
        {
            <circle class="datapoint" cx="@GetXCoordinate(p.X)" cy="@GetYCoordinate(p.Y)" r="4" stroke="black" stroke-width="1" fill="red" @onmouseover="()=>MouseOver(p)" @onmouseout="()=>MouseLeave()"/>
        }
    </g>
    @if (showTooltip && tooltipProperties is not null)
    {
        <g>
            <foreignObject x="0" y="0" width="@Width" height="@Height" style="pointer-events: none;">
                <div class="tooltip-container" style="transform: translate(@tooltipX, @tooltipY) translate(@tooltipXTranslate, @tooltipYTranslate)">
                    @foreach(string tt in tooltipProperties)
                    {
                        <p class="tooltip-text">@tt</p>
                    }
                </div>
            </foreignObject>
        </g>
    }
</svg>
