@inherits ScatterChartBase

<svg class="chart" viewBox="0 0 @Width @Height">
    <text x="@(Width/2)" y="15" font-size="16px" text-anchor="middle">@Title</text>
    <g>
        @foreach (double value in YAxis)
        {
            <line x1="@MarginLeft" y1="@GetYCoordinate(value)" x2="@(Width-MarginRight)" y2="@GetYCoordinate(value)" style="stroke:#e0e0e0;stroke-width:1" />
        }
    </g>
    <g>
        @foreach (double value in YAxis)
        {
            <text>
                <text x="@(MarginLeft-10)" y="@GetYCoordinate(value)" font-size="12px" text-anchor="end" dominant-baseline="middle">@value</text>
            </text>
        }
    </g>
    <g transform="rotate(270, 10, @(Height/2))">
        <text x="10" y="@(Height/2)" font-size="12px" text-anchor="middle" dominant-baseline="middle">@YAxisTitle</text>
    </g>
    <g>
        @foreach (double value in XAxis)
        {
            <text>
                <text x="@GetXCoordinate(value)" y="@GetXAxisTickYCoordinate()" font-size="12px" text-anchor="middle">@value</text>
            </text>
        }
    </g>
    <g>
        <text x="@(Width/2)" y="@GetXAxisTitleY()" font-size="12px" text-anchor="middle" dominant-baseline="middle">@XAxisTitle</text>
    </g>
    <g>
        @foreach (ScatterSerie s in Data.Series)
        {
            @foreach (ScatterPoint p in s.Points)
            {
                <circle class="datapoint" cx="@GetXCoordinate(p.X)" cy="@GetYCoordinate(p.Y)" r="4" stroke="black" stroke-width="1" fill="@s.Color" @onmouseover="()=>MouseOver(p)" @onmouseout="()=>MouseLeave()" />
            }
        }
    </g>
    @if (ShowLegend)
    {
        <g>
            <foreignObject x="0" y="@(Height-20)" width="@Width" height="20">
                <div class="legend-container">
                    @for (int i = 0; i < Data.Series.Count; i++)
                    {
                        int index = i;
                        <div class="legend-colorbox" style="background: @Data.Series[index].Color"></div>
                        <div class="legend-text">@Data.Series[index].Title</div>
                    }
                </div>
            </foreignObject>
        </g>
    }
    @if (showTooltip && tooltipProperties is not null)
    {
        <g>
            <foreignObject x="0" y="0" width="@Width" height="@Height" style="pointer-events: none;">
                <div class="tooltip-container" style="transform: translate(@tooltipX, @tooltipY) translate(@tooltipXTranslate, @tooltipYTranslate)">
                    @foreach (string tt in tooltipProperties)
                    {
                        <p class="tooltip-text">@tt</p>
                    }
                </div>
            </foreignObject>
        </g>
    }
</svg>
